<h3>
  Search an artist
</h3>
<form action='/artist-search' method='GET'>
  <label for='q'>
    Search
  </label>
  <input type='text' name='q' id='q' placeholder='e.g. "The Beatles"' value='{{q}}' />
  <input type='submit' value='Search For An Artist' />
</form>